.root {
  @apply flex items-center justify-center rounded;
  cursor: pointer;
  outline: none;
  line-height: 19.2px;
  min-height: 48px;
  max-height: 48px;
  border-radius: 16px;
  font-family: theme('fontFamily.TTNormsPro');
  font-size: 16px;
  font-weight: 600;
}

.icon {
  min-width: 24px;
}

.primary{
  @apply transition;
  color: theme('colors.neutralsGrey800.light');
  background-color: theme('colors.primaryGreen.light');

  &:hover, &:focus {
    background-color: theme('colors.secondaryGreen.light');
  }

  &:disabled{ 
    cursor: not-allowed;
    color: theme('colors.neutralsGrey300.light');

    background-color: theme('colors.neutralsGrey100.light');

    &:hover {
      background-color: theme('colors.neutralsGrey100.light');
    }
  }

  .icon {
    @apply transition;
    stroke: theme('colors.neutralsGrey800.light');
  }
}

.secondary {
  @apply transition;
  color: theme('colors.secondaryGreen.light');
  border: 1px solid theme('colors.secondaryGreen.light');
  background-color: transparent;

  &:hover, &:focus {
    border: 1px solid theme('colors.secondaryGreen.light');
  }

  &:disabled{ 
    cursor: not-allowed;
    color: theme('colors.neutralsGrey400.light');

    border: 1px solid theme('colors.neutralsGrey400.light');

    &:hover {
      border: 1px solid theme('colors.neutralsGrey400.light');
    }
  }

  .icon {
    @apply transition;
    stroke: theme('colors.neutralsGrey400.light');
  }
}

.border-red {
  @apply transition;
  color: theme('colors.red');
  border: 1px solid theme('colors.red');
  background-color: transparent;
  min-height: 39px !important;
  max-height: 39px !important;

  &:hover, &:focus {
    border: 1px solid theme('colors.red');
  }

  &:disabled{ 
    cursor: not-allowed;
    color: theme('colors.neutralsGrey400.light');

    border: 1px solid theme('colors.neutralsGrey400.light');

    &:hover {
      border: 1px solid theme('colors.neutralsGrey400.light');
    }
  }

  .icon {
    @apply transition;
    stroke: theme('colors.neutralsGrey400.light');
  }
}