.root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    @apply transition;
    &.open{ 
        @apply transition;
        opacity: 1;
        visibility: visible;
    }
    .overlay{ 
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;    
    }
    .content{ 
        padding: 40px 24px;
        border-radius: 24px;
        max-height: 98dvh;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: auto;
        // max-height: 568px;
        overflow: auto;
        min-width: 345px;
    }
}